{% extends "Address/updated_database.html" %}


{% block title_block %} Village {% endblock %}
<h1>{{allah}}</h1>
    {% block boday_block %}
        <div style="text-align:center;margin-top:2%;margin-bottom:5%;">,
        <h4> It will take more time. Wait until the Load is complete  </h4>
        </div>


<h1>{{allah}}</h1>

<form action="" method="post" enctype="multipart/form-data" >
{% csrf_token%}


<!--<input type="radio" name="song" value="all"> hello</input>-->
    <input class="money_reciept" name="up_money_rct" type="file">

    <input type="submit">
</form>

    {% endblock %}